.TransactionList .menu_bar {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}

.TransactionList .menu_bar select {
  background-color: #2a2d45;
  border: none;
  border-radius: 10px;
  color: #e0e0ff;

  padding: 12px 16px;
  font-size: 18px;
  cursor: pointer;
}

.TransactionList .menu_bar button {
  flex: 1;
}
