@font-face {
  font-family: "NanumPenScript-Regular";
  src: url("/NanumPenScript-Regular.ttf");
}
html,
body {
  margin: 0px;
  width: 100%;
  background-color: #141625c6;
  display: flex;
}
body * {
  font-family: "NanumPenScript-Regular";
}

#root {
  background-color: #141625;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 30px 0px 30px;
  color: white;
}
